.foreground{
  position: absolute;
  top: 0;
  z-index: 2;
  min-height: 100%;
  min-width: 100%;



  .counter-wrapper{
    position: absolute;
    z-index: 100;
    display:inline-block;
    bottom: 30px;
    left: 30px;

    font-size: 0.8rem;
    line-height: 0.8rem;

    .counter-text{
      display: inline-block;

      transition: all .4s;
      opacity: 1;
    }

    .counter{
      border:2px dotted $font-color;
      display:inline-block;

      a{
        display:inline-block;
        width: 20px;
        height: 18px;

        &>span{
          display: block;
          margin: 3px 0;
          width: 16px;
          text-align: center;
        }
        &:not(:last-child){
          border-right:2px dotted $font-color;
        }
        &:first-child{
          padding-left: 3px; //ugly fix
        }
      }
    }
  }







}
