.loader{

  position: absolute;
  display: flex;
  top: 0;
  z-index: 2;

  min-height: 100%;
  min-width: 100%;

  background: url(../image/loaderbg.png) no-repeat center center;
  background-size: cover;
  background-color: $background-color;

  .monk{
    position: relative;
    display: none;
    margin: auto;
    top: -30px;
    width: 400px;
    text-align: center;

    img{
      animation: showmonk 1s ease-out, animmonk 2s infinite ease-in-out;
    }
    >div{
      margin-top: 40px;
      span{
        color: $font-color;
        font-style: italic;
        &:before{
          display: inline-block;
          content: "Patience! ";
          animation: showtext 2.5s;
          animation-fill-mode: forwards;
        }
        &:after{
          position: relative;
          display: inline-block;
          top: 5px;
          content: "young padawan...";
          overflow: hidden;
          text-indent: -999px;
          animation: showtext2 2.5s linear;
          animation-fill-mode: forwards;

        }
      }
    }
  }

  &.open{
    .monk{
      display: block;
    }
  }

  &.close{
    animation: closeloader 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes closeloader {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  99% {
    opacity: .0;
    z-index:100;
  }
  100% {
    opacity: .0;
    z-index:0;
  }
}


@keyframes showmonk {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animmonk {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(- 20px);
  }
  100% {
    transform: translateY(0px);
  }
}


@keyframes showtext {
  0% {
    font-size: 0rem;
    content: "Patience!";
    opacity: 0;
  }
  20% {
    font-size: 0rem;
  }
  25% {
    font-size: 1.3rem;
    opacity: 1;
  }
  27% {
    font-size: 0.9rem;
  }
  28% {
    font-size: 1rem;
  }
  75% {
    content: "Patience!";
  }
  76% {
    content: "Patience, ";
  }
  100% {
    content: "Patience, ";
  }
}

@keyframes showtext2 {
  0% {
    text-indent: -200px;
  }
  90% {
    text-indent: -200px;
  }
  100% {
    text-indent: 5px;
  }
}
